# JetBrains IDE 설정 제외
.idea
.env
.venv
./nginx_secrets/ai_api_key.conf
.data/apps
cloudflared
.wrangler
wrangler.toml
.env.local
nginx
.dev.vars
logs
node_modules
ai_test/case
ai_test/out
ai_test/tests
data
mcp-worker
wandb