# deps
/node_modules

# build output
/build
/dist

# coverage
/coverage

# env (예시는 허용)
.env
.env.*
!.env.example

# OS
.DS_Store

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# tool caches
.eslintcache
.parcel-cache/
.turbo/
.swc/
*.tsbuildinfo

# editors
.vscode/
.idea/
