@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'GmarketSans';
  src: url('./assets/fonts/GmarketSansTTF/GmarketSansTTFLight.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'GmarketSans';
  src: url('./assets/fonts/GmarketSansTTF/GmarketSansTTFMedium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'GmarketSans';
  src: url('./assets/fonts/GmarketSansTTF/GmarketSansTTFBold.ttf') format('truetype');
  font-weight: 700;
}
body {
  font-family: 'GmarketSans', sans-serif;
}
/* 스크롤은 가능, 바는 숨김 */
.no-scrollbar::-webkit-scrollbar { display: none; } /* Chrome/Safari */
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; } /* IE/Firefox */
